<!DOKTYPE html>
    <html>
        <head>
        <meta charset='utf-8'>
        <title> Web scraping </title>
        </head>
        <body>
        <p>Information d'un application selectioné sur l'Apdoide </p>
        <ul>
        <li> Nom: {{nom}}</li>
        <li> Version: {{version}}</li>
        <li> Nombre de téléchargement: {{nombre}}</li>
        <li> Date de sortie: {{date}}</li>
        <li> Description de l'application:</li>
        <p> {{description}}</p>
        
        </ul>
        </body>
    </html>